.widget-404 {
  /* Fond coloré aléatoire */
  background-color: var(--color-yellow);
  background-image: url('/_next/static/media/logo.d3ea090f.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px 80px;
  border-radius: 1rem;
  min-height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Variante rouge */
.widget-404.red {
  background-color: var(--color-red);
}

/* Variante bleue */
.widget-404.blue {
  background-color: var(--color-blue);
}